html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 10%;
    position: fixed;
    margin: 10px
}

p {
    font-size: 15px;
    padding: 10px;
    color: white;
}

h3 {
    font-size: 25px;
    color: white;
    margin-top: 5%;
}

.section {
    padding: 10px;
    height: 100vh;
}

body {
    overflow: hidden;
}

h1 {
    font-weight: 200;
}

.upper {
    /* background: linear-gradient(195deg, #2B2D42 15%,#8D99AE 90%); */
    /* background: linear-gradient(195deg,#4A7C59  90%, #D0E3CC 90%); */
    background-color:#537D8D;
    /* z-index: -1; */
}

/* MENU */

.burger {
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.burger-bar {
    position: relative;
    width: 70%;
    height: 2px;
    background-color: rgb(236, 191, 44);
    opacity: .9;
    margin: 5px auto;
    transition: .35s ease-in-out;
    border-radius: 20%;
}

.one {
    transform: rotate(45deg) translate(3px, 7px);
    background-color: white;
}

.two {
    opacity: 0;
    transform: translateX(-200px);
}

.three {
    transform: rotate(-45deg) translate(3px, -7px);
    background-color: white;
}

.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    width: 100vw;
    height: 8%;
    background: linear-gradient(to right, rgb(236, 169, 54) 10%, rgb(236, 191, 44)90%);
    opacity: .9;
    z-index: 10;
    transition: .25s ease-in-out;
    z-index: 15;
}

.menu-hide {
    transform: translate(400px);
    transition: ease-in-out .25s;
    opacity: 0;
}

/* MENU DONE */

/* UPPER */

.jumbo-text {
    margin: 50% auto;
    padding-top: 10%;
    width: 100%;
    font-size: 50px;
    line-height: 1em;
    color: whitesmoke;
}

.name {
    font-weight: 400;
}

.fas {
    z-index: 10;
    font-size: 35px;
}

.fa-angle-double-down {
    position: relative;
    top: -30px;
    margin-left: 45%;
    color: rgb(236, 191, 44);
    opacity: .9;
    transition: 1s ease-in-out;
    z-index: 10;
}

.chevJump {
    position: relative;
    top: -7px;
}

/* UPPER DONE */

/* MIDDLE */

.middle {
    /* height: 550x; */
    width: 100vw;
    height: 450px;
    padding: 0px;
    background:linear-gradient( rgb(220, 250, 249),#EDF2F4);
    overflow: hidden;
}

.network-container {
    display: flex;
    flex-direction: space-around;
    width: 40vw;
    height: 50px;
    box-shadow: #8D99AE 0px 0px 15px;
    z-index: -1;
    overflow: hidden;
}


.profile {
    border-radius: 100%;
    position: relative;
    width: 325px;
    margin: 10px 25px;
    bottom: 450px;
    border: solid 5px #353531;
    z-index: 1;
}

.cloud1 {
    transform: rotate(-135deg) scale(.85);
    position: relative;
    top: -70px;
    right: -156px;
    z-index: 10;
    transition: 1s ease-in-out;
}

.cloud2 {
    transform: rotate(5deg) scale(.9);
    z-index: 10;
    position: relative;
    bottom: -13px;
    left: -115px;
    transition: 1.15s ease-in-out;
}

.cloudWiggle1 {
    transform: rotate(-137deg) scale(.9)
}

.cloudWiggle2 {
    transform: rotate(8deg) scale(.85)
}

.about-arrow {
    position: relative;
    left: 120px;
    bottom: 280px;
}


.about {
    position: relative;
    /* box-sizing: content-box; */
    background-color: whitesmoke;
    height: 230px;
    text-align: center;
    font-size: 35px;
    color: black;
    padding: 20px 0;
    padding-top: 30px;
    margin: 0px auto;
}

.about h1 {
    /* padding-right: 55px; */
    font-weight: 300;
}

.about-me {
    display: flex;
    height: 200px;
}

.about-me p {
    box-sizing: content-box;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-left: auto;
}

/* LOWER */

.lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 11px;
    padding-top: 0;
    /* background-color: lightgray; */
}

.projects-title {
    font-size: 35px;
    color: black;
    font-weight: 300;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 20px;
}

.project-bar {
    width: 100%;
    height: 25px;
    display: flex;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    background-color: lightgray;
    align-items: center;
}

.project-btn {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    /* border: 1px solid black; */
    margin: 5px;
}

.btn1 {
    background-color: #ff5f57;
}
.btn2 {
    background-color: #ffbd2e;
}
.btn3 {
    background-color: #28ca41;
}

.homepage {
    text-align: center;
    background-image: url(assets/images/Homepage.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;
}

.quiz {
    text-align: center;
    background-image: url(assets/images/quiz.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;
}

.weather {
    text-align: center;
    background-image: url(assets/images/weather.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;

}

.cover {
    box-shadow: inset 0 0 1000px 500px rgba(124, 124, 124, 0.897);
}

.link-style {
    color: white;
    font-size: 25px;
    font-style: italic;
}

.contact {
    padding: 20px;
    background-color: whitesmoke;
}

.contact-container {
    padding: 10px;
    border-radius: .5em;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
}

.contact {
    text-align: center;
    font-size: 35px;
    padding-bottom: 0;
}

.contact h1 {
    font-weight: 300;
}
