html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 15px;
    padding: 10px;
    color: white;
}

h3 {
    font-size: 25px;
    color: white;
    margin-top: 5%;
}

.section {
    padding: 10px;
    height: 100vh;
}

body {
    overflow: hidden;
}

h1 {
    font-weight: 200;
}

.sayHi {
    font-size: 25px;
    width: 40vw;
    margin-top: 20px;
    margin-left: 11%;
    text-align: center;
    background-color: #1A936F;
    border: outset 2px rgba(40, 204, 155, 0.37);
    border-radius: 10em;
}

.sayHi:active {
    border: inset 1px rgba(35, 180, 137, 0.37);
    font-size: 24px;

}

/* MENU */

.burger {
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 100;
}

.burger-bar {
    position: relative;
    width: 70%;
    height: 2px;
    background-color: rgb(236, 191, 44);
    opacity: .9;
    margin: 5px auto;
    transition: .35s ease-in-out;
    border-radius: 20%;
}

.one {
    transform: rotate(45deg) translate(3px, 7px);
    background-color: white;
}

.two {
    opacity: 0;
    transform: translateX(-200px);
}

.three {
    transform: rotate(-45deg) translate(3px, -7px);
    background-color: white;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0;
    width: 100vw;
    height: 8%;
    background: linear-gradient(to right, rgb(236, 169, 54) 10%, rgb(236, 191, 44)90%);
    opacity: .9;
    z-index: 10;
    transition: .25s ease-in-out;
    z-index: 15;
}

.menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu-hide {
    transform: translate(400px);
    transition: ease-in-out .25s;
    opacity: 0;
}

/* MENU DONE */

/* UPPER */

.upper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(41, 70, 98);
    background-image: url(assets/images/building.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-blend-mode: overlay;
}

.jumbo-text {
    margin-left: 5%;
    margin-top: 32%;
    width: 100vw;
    font-size: 50px;
    line-height: 1em;
    color: whitesmoke;
}



.name {
    font-weight: 400;
}

.fas {
    z-index: 10;
    font-size: 35px;
}

.fa-angle-double-down {
    /* align-self: flex-start; */
    
    position: relative;
    top: -15px;
    /* margin-left: 45%; */
    color: rgb(236, 191, 44);
    opacity: .9;
    transition: 1s ease-in-out;
    z-index: 10;
}

.chevJump {
    position: relative;
    top: -2px;
}

/* UPPER DONE */

/* MIDDLE */

.middle {
    /* height: 550x; */
    /* width: 100vw; */
    height: 450px;
    padding: 0px;
    background:linear-gradient( rgb(220, 250, 249),#EDF2F4);
    overflow: hidden;
}

.network-container {
    display: flex;
    /* flex-direction: space-between; */
    /* width: 40vw; */
    /* box-shadow: #8D99AE 0px 0px 15px; */
    /* z-index: -1; */
    /* overflow: hidden; */
}

.facebook {
    /* display: inline; */
    /* position: relative; */
    height: 50px;
    width: 50px;
    background-color: #4868ad;
    background-image: url(../images/fb_logo.png);
    /* box-shadow: #8D99AE 0px 0px 15px; */
    background-repeat: no-repeat;

}

/* .facebook:hover {
    padding-top: 70px;
} */

.github {
    height: 50px;
    width: 50px;
    background-color: #4868ad;
    background-image: url(../images/git_logo.png);
    /* box-shadow: #8D99AE 0px 0px 15px; */
    background-repeat: no-repeat;
}

.linkedin {
    height: 50px;
    width: 50px;
    background-color: #4868ad;
    background-image: url(../images/linked_logo.png);
    /* box-shadow: #8D99AE 0px 0px 15px; */
    background-repeat: no-repeat;
}



.profile {
    border-radius: 100%;
    position: relative;
    width: 325px;
    margin: 10px 25px;
    bottom: 450px;
    border: solid 5px #353531;
    z-index: 9;
}

.cloud1 {
    transform: rotate(-135deg) scale(.85);
    position: relative;
    top: -70px;
    right: -160px;
    z-index: 8;
    transition: 1s ease-in-out;
}

.cloud2 {
    transform: rotate(5deg) scale(.9);
    z-index: 10;
    position: relative;
    bottom: -13px;
    left: -115px;
    z-index: 8;
    transition: 1.15s ease-in-out;
}

.cloudWiggle1 {
    transform: rotate(-137deg) scale(.9)
}

.cloudWiggle2 {
    transform: rotate(8deg) scale(.85)
}

.about-arrow {
    position: relative;
    left: 120px;
    bottom: 280px;
}


.about {
    position: relative;
    /* box-sizing: content-box; */
    background-color: whitesmoke;
    height: 230px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: black;
    padding: 20px 0;
    padding-top: 30px;
    overflow: hidden;
    /* margin: 0px auto; */
}

.about img {
    position: relative;
    top: -290px;
    right: -200px;
    transform: rotate(90deg);
    z-index: 1;
}

.about h1 {
    /* padding-right: 55px; */
    font-weight: 300;
}

.about-me {
    display: flex;
    height: 200px;
}

.about-me p {
    box-sizing: content-box;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-left: auto;
    z-index: 2;
}

/* LOWER */

.lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 11px;
    padding-top: 0;
}

.projects-title {
    font-size: 35px;
    color: black;
    font-weight: 300;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 20px;
    /* width: 35%; */
;
}

.project-bar {
    width: 100%;
    height: 25px;
    display: flex;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    background-color: lightgray;
    align-items: center;
}

.project-btn {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    /* border: 1px solid black; */
    margin: 5px;
}

.btn1 {
    background-color: #ff5f57;
}
.btn2 {
    background-color: #ffbd2e;
}
.btn3 {
    background-color: #28ca41;
}

.homepage {
    text-align: center;
    background-image: url(assets/images/Homepage.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;
}

.quiz {
    text-align: center;
    background-image: url(assets/images/quiz.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;
}

.weather {
    text-align: center;
    background-image: url(assets/images/weather.png);
    height: 250px;
    width: 336px;
    border-radius: .5em;
    margin: 20px auto;
    margin-top: 0;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 1px 1px 10px gray;

}

.cover {
    box-shadow: inset 0 0 1000px 500px rgba(124, 124, 124, 0.897);
}

.link-style {
    color: white;
    font-size: 25px;
    font-style: italic;
}

.contact {
    padding: 20px;
    padding-bottom: 40px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 35px;
}

.contact-title h1 {
    font-weight: 300;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;

}

.contact-container {
    padding: 10px;
    border-radius: .5em;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
}

footer {
    height: 100px;
    text-align: center;
    padding: 50px;
}

.bottom-link {
    color: black;
}

@media only screen and ( min-width: 768px ) {

.middle {
    width: 50vw;
    margin: 0;
    display: inline-flex;
    /* justify-content: center; */
}

.profile {
    position: relative;
    left: -870px;
    bottom: -80px;
    width: 300px;
    height: 300px;
}

.cloud1 {
    left: -25px;
    width: 350px;
    height: 250px;
}

.cloud2 {
    left: -650px;
    bottom: -240px;
    width: 400px;
    height: 250px;
    transform: rotate(33deg);
}

.cloudWiggle2 {
    transform: rotate(35deg) scale(.95)
}

.about {
    padding: 25px;
}

.about {
    width: 50vw;
    float: right;
    /* top: -450px; */
    height: 450px;
}

.about img {
    position: relative;
    transform: scale(1.25);
    top: -90px;
    right: -150px;
}

/* .projects-title {
    position: relative;
    left: 25%;
} */

}

@media only screen and ( min-width: 1024px ) {

.cloud1 {
    left: 30px;
    width: 500px;
}

.cloud2 {
    left: -775px;
}

.profile {
    left: -1010px;
    top: 35px;
    width: 375px;
    height: 375px;
}

}

@media only screen and ( min-width: 1216px ) {

    .cloud1 {
        left: 125px;
        height: 275px;
        width: 475px;
        transform: rotate(-150deg);
    }

    .cloud2 {
        width: 500px;
        height: 300px;
        left: -850px;
    }

    .cloudWiggle1 {
        transform: rotate(-152deg) scale(.95)
    }
    
    /* .cloudWiggle2 {
        transform: rotate(8deg) scale(.85)
    } */

    .profile {
        left: -1050px;
    }

}

@media only screen and ( min-width: 1408px ) {

    .middle {
        height: 598px;
    }

    .about {
        height: 598px;
    }

    .about img {
        transform: scale(.9);
    }

    .cloud1 {
        left: 180px;
    }

    .cloud2 {
        right: -300px;
        top: 300px;
    }

    .profile {
        transform: scale(1.35);
        top: 110px;
        left: -995px;
    }

}

@media only screen and ( min-width: 1408px ) {

    .cloud1 {
        left: 250px;
    }

    .profile {
        left: -965px;
    }

   

}

@media only screen and ( min-width: 1731px ) {

    .cloud1 {
        left: 400px;
    }

    .profile {
        left: -915px;
    }

}

@media only screen and ( min-width: 1792px ) {

    .cloud1 {
        left: 360px;
        transform: scale(1.25) rotate(-125deg);
    }

    .cloud2 {
        left: -800px;
        /* top: 300px; */
        transform: scale(1.25) rotate(35deg);
    }

    .cloudWiggle1 {
        transform: rotate(-127deg) scale(1.23)
    }

    .cloudWiggle2 {
        transform: rotate(38deg) scale(1.28)
    }

    .profile {
        left: -890px;
    }

    .about img {
        left: 400px;
    }

    .lower {
        height: 500px;
    }
    
    
     .homepage {
         text-align: center;
         background-image: url(assets/images/Homepage_lg.png);
         background-size: 550px 361px;
         height: 361px;
         width: 550px;
         border-radius: .5em;
         margin: 20px auto;
         margin-top: 0;
         background-repeat: no-repeat;
         object-fit: cover;
         box-shadow: 1px 1px 10px gray;
     }
    
     .quiz {
         text-align: center;
         background-image: url(assets/images/quiz_lg.png);
         background-size: 550px 361px;
         height: 361px;
         width: 550px;
         border-radius: .5em;
         margin: 20px auto;
         margin-top: 0;
         background-repeat: no-repeat;
         object-fit: cover;
         box-shadow: 1px 1px 10px gray;
     }
    
     .weather {
         text-align: center;
         background-image: url(assets/images/weather_lg.png);
         background-position-x: bottom;
         background-size: 550px 361px;
         height: 361px;
         width: 550px;
         border-radius: .5em;
         margin: 20px auto;
         margin-top: 0;
         background-repeat: no-repeat;
         object-fit: cover;
         box-shadow: 1px 1px 10px gray;
     }

     .cover {
        box-shadow: inset 0 0 1000px 500px rgba(124, 124, 124, 0.897);
    }

    .contact-container {
        width: 85vw;
        margin: 0 auto;
    }

    .lower {
        align-items: center;
    }
     
    .sayHi {
        width: 15vw;
        margin-top: 25px;
        margin-left: 5%;
    }

    .jumbo-text {
        margin-top: 2%;
    }

    .section {
        height: 600px;
    }

    .fa-angle-double-down {
        position: relative;
        top: 60px;
        color: rgb(236, 191, 44);
        opacity: .9;
        transition: 1s ease-in-out;
        z-index: 10;
    }
    
    .chevJump {
        position: relative;
        top: 72px;
    }

    .jumbo-right {
        background-image: url(assets/images/building.jpg);
    }

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:rgb(41, 70, 98);
        background-image: url(assets/images/building.jpg);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 896px 1000px;
        background-blend-mode: overlay;
    }

}

/* @media only screen and ( min-width: 2000px ) {

    .cloud1 {
        left: 475px;
        transform: scale(1.25) rotate(-115deg);
    }

    .cloud2 {
        transform: scale(1.15) rotate(25deg);
    }

    .cloudWiggle1 {
        transform: rotate(-118deg) scale(1.23)
    }

    .cloudWiggle2 {
        transform: rotate(28deg) scale(1.25)
    }
    

    .profile {
        left: -850px;
    }

    .about img {
        left: 400px;
    }

}

@media only screen and ( min-width: 2500px ) {

    .cloud1 {
        left: 550px;
        transform: scale(1.25) rotate(-115deg);
    }

} */