

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url(../Assets/Images/crossline-dots.png);
    background-position: center center;
}

/* Header and Nav bar */

.container-fluid {
    margin: 0;
    background-color: white;
}

.wrapper {
    background-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgba(33, 35, 34, .8);
    box-shadow: 0px 10px 1000px rgba(0, 0, 0, 0.356);

}

.header {
    margin: 0px;
    padding: 0px;
}

.header h1 {
    background-color: rgb(67 127 199);
    text-align: center;
    color: white;
    padding: 25px 0px;
    margin: 0px;
    
}

.nav {
    padding: 20px 0px;
    padding-right: 0px;
    margin: 0px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    
}

.navbar {
    padding: 0px;
    background-color: whitesmoke;
}

.navbar a {
    font-size: 20px;
    color: gray;
    padding-top: 0px;
    padding-bottom: 0px;
}

.portfolio-link {
    box-sizing: content-box;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* About Me and Image */

.about-me {
    margin-bottom: 200px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 5px 5px 10px gray;
    border-radius: .5%;
    z-index: 10;
}

.about-me h1 {
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    color: gray;
}

.image {
    margin: auto;
}

img {
    border-radius: .5%;
    max-width: 100%;
}

/* Text */

.image-text {
    color: gray;
    font-size: 18px;
    line-height: 1.75em;
    padding-bottom: 15px;
}

.text-one {
    padding-top: 15px;
}

/* footer */

.footer {
    text-align: center;
    padding: 35px;
    background-color: rgb(67 127 199);  
    color: white;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgba(33, 35, 34, .9);
    box-shadow: 0px -10px 1000px rgba(0, 0, 0, 0.356);
}

/*   MEDIA QUERY FOR DIMENSION 768PX  */


        @media screen and (min-width: 768px) {

                .about-me {
                    margin-bottom: 400px;
                }
    
            /* Header and Nav Bar  */

               #med-header {
                   text-align: center; 
               }

               .header h1 {
                    font-size: 35px; 
                    padding-right: 30px;
                    position: relative;
                    left: 25px;  
               }

                .navbar a {
                    position: relative;
                    left: 65px;
                }  

            /* image */

                .image {
                    max-width: 50%;
                    margin: 0 25px 40px 0px;
                    float: left;
                }

            /* text */

                .image-text {
                    height: 350px;
                    justify-content: space-evenly;
                }

                .text-one {
                   position: relative;
                   bottom: 18px;
                   font-size: 18px;
                   line-height: 1.5em;
                   margin: 0;
                   padding: 10px 0px;
                }

        }

/*  MEDIA QUERY FOR DIMENSION 980PX   */


                @media screen and (min-width: 980px) {

                        .header h1 {
                            left: 50px;  
                        }

                        .navbar a {
                            left: 125px;
                            font-size: 18px;
                        }

                        .about-me {
                            margin-left: 50px;
                            max-width: 62%;
                        }

                        .about-text h1 {
                            font-size: 25px;
                        }

                        .image {
                            margin: 0 25px 30px 0px;
                        }



                        











                }