body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url(../Assets/Images/crossline-dots.png);
    background-position: center center;
    background-color: rgba(109, 167, 254, 0.384);
    background-blend-mode: lighten;
}

/* Header and Nav bar */

.container-fluid {
    margin: 0;
    background-color: white;
}

.wrapper {
    background-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: rgb(37, 50, 66);
    box-shadow: 0px 10px 1000px rgba(0, 0, 0, 0.356);

}

.header {
    margin: 0px;
    padding: 0px;
}

.header h1 {
    background-color: rgb(67 127 199);
    text-align: center;
    color: rgb(219, 230, 255);
    padding: 25px 0px;
    margin: 0px;
    
}

.nav {
    padding: 20px 0px;
    padding-right: 0px;
    margin: 0px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    
}

.navbar {
    padding: 0px;
    background-color: whitesmoke;
}

.navbar a {
    font-size: 20px;
    color: gray;
    padding-top: 0px;
    padding-bottom: 0px;
}

.portfolio-link {
    box-sizing: content-box;
    padding-top: 0px;
    padding-bottom: 0px;
}

.portfolio {
    margin-bottom: 200px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: 5px 5px 10px gray;
    border-radius: .5%;
    z-index: 10;
}

.portfolio-title {
    margin: 25px 0px 10px 0px;
    padding: 0px;

}

.portfolio h1 {
    font-size: 25px;
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    color: rgb(37, 50, 66);
}

.images {
    background-image: url(https://placehold.it/490x490);
    width: 490px;
    height: 490px;
    object-fit: cover;
    margin: 30px 0px;
    text-align: center;
}

.images h3 {
    font-size: 20px;
    position: relative;
    top: 375px;
    background-color: rgb(67 127 199);
    color: white;
    padding: 20px;
}


.footer {
    text-align: center;
    padding: 35px;
    background-color: rgb(67 127 199);  
    color: white;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(37, 50, 66);
    box-shadow: 0px -10px 1000px rgba(0, 0, 0, 0.356);
}




/*   MEDIA QUERY FOR DIMENSION 768PX  */


@media screen and (min-width: 768px) {

    .about-me {
        margin-bottom: 400px;
    }

/* Header and Nav Bar  */

   #med-header {
       text-align: center; 
   }

   .header h1 {
        font-size: 35px; 
        padding-right: 30px;
        position: relative;
        left: 25px;  
   }

    .navbar a {
        position: relative;
        left: 65px;
    }  

   
    .portfolio-title {
         margin: 25px 0px 10px 0px;

    }

    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .images {
        background-image: url(https:/placehold.it/490x490);
        background-position: center;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 17px 17px;
    }

    .images h3 {
        top: 200px;
    }

} 




/*  MEDIA QUERY FOR DIMENSION 980PX   */


@media screen and (min-width: 980px) {

    .header h1 {
        left: 50px;  
    }

    .navbar a {
        left: 125px;
        font-size: 18px;
    }

    .portfolio {
        margin-left: 50px;
        max-width: 60%;
    }

    .portfolio-title {
        margin: 25px 0px 10px 0px;

   }

   .img-container {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
   }

   .images {
       background-image: url(https://placehold.it/490x490);
       background-position: center;
       width: 234px;
       height: 234px;
       object-fit: cover;
       margin: 17px 17px;
   }

   .images h3 {
    top: 140px;
}

}   
    